# Игнорировать файлы и директории, которые не должны попасть в репозиторий

# Игнорировать директорию vendor, где обычно хранятся зависимости
/vendor/

# Игнорировать директорию runtime, где хранятся временные файлы
/runtime/

# Игнорировать директорию web/assets, где хранятся скомпилированные ресурсы
/web/assets/

# Игнорировать файлы с настройками окружения
/.env
/.env.*

# Игнорировать файлы локальных настроек IDE
/.idea/

# Visual Studio Code
.vscode/

# Игнорировать временные файлы и логи
/.gitignore
/.gitkeep
*.log
*.swp
Thumbs.db
.DS_Store

# Игнорировать файлы и директории, созданные при установке Composer
/composer.lock
/vendor/

# Игнорировать файлы и директории, созданные при установке npm
/node_modules/

# Игнорировать файлы, созданные при работе с базой данных
/db/
/tests/_output/
/codeception.yml

